@charset "utf-8";
#content {
  width: 870px;
  margin: 35px 0px 0 5px;
}
#top_content_left {
  width: 320px;
  height: 500px;
  float: left;
  padding-right: 5px;
}

#top_content_left h1,#top_content_right h1 {
  width: 150px;
  font-size: 13px;
  margin-bottom: 20px;
}


#top_content_left table,#top_content_left  th,#top_content_left  td {
  border-collapse: collapse;
  border: 1px solid #73A6DE;
}
#top_content_left table {
  width: 317px;
}

#top_content_left th {
  padding: 2px 10px;
  text-align: left;
}

#top_content_left th.label {
  width: 60px;
}

#button_area {
  margin: 10px 0px;
  width: 290px;
  text-align: left;
}


#button_area button.forward,
#button_area button.backward  {
  width: 100px;
  height: 22px;
  text-align: center;
  font-size: 12px;
  color: #FFF;
  margin: 0px 20px 0px 0px;
  padding: 1px 10px;
 
}

#top_content_right {
  width: 475px;
  height: 800px;
  float: left;
  margin-left:5px;
}

#top_content_right div {
  font-size: 28px;
  margin: 0;
  border: 3px solid #558ED5;
}

#top-information {
  padding: 5px 8px 20px 20px;
  width: 448px;
}

#top-information ul {
  list-style-type: none;
}

#top-information ul ul {
  margin-left: 5px;
}

#top-information li {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  padding-top: 20px;
}

li.top-info-item:before {
  content: "◆";
}

li.top-info-item {
  text-indent: -14px;
}

li.top-info-item li:before {
  content: "・";
}

li.top-info-item li {
  text-indent: -8px;
}

#top-information li.top-info-item:first-child {
  padding: 0;
}

