# for performance test environment on EC2

cloud:
  aws:
    # AWS common
    region:
      auto: true
    # DynamoDB
    dynamodb:
      # DynamoDBは同一テーブル名を使用しているため、環境毎にリージョン、もしくはAWSアカウントを切り替える。
      region: ap-northeast-1
    # SQS
    sqs:
      region: ap-northeast-1
    # CloudWatch
    cloudwatch:
      region: ap-northeast-1

# RDB(RDSを使用)
database:
  # RDSのリージョン設定
  rdsRegion: ap-northeast-1
  common:
    data-source:
      # 各DBの共通設定
      driverClassName: org.postgresql.Driver
      maxActive: 62
      maxIdle: 62
      minIdle: 62
      initialSize: 62
      maxWait: 5000
      password: postgres
      username: postgres
      validationQuery: SELECT 1
      testOnConnect: true
      testWhileIdle: true
      # Amazon failover の最大値
      # 参考 [http://docs.aws.amazon.com/ja_jp/AmazonRDS/latest/UserGuide/Concepts.MultiAZ.html]
      timeBetweenEvictionRunsMillis: 120000
      removeAbandoned: true
      removeAbandonedTimeout: 60
  default:
    schema:
      name: default
  data-sources:
    - schema: default
      dbInstanceIdentifier: cn-performance-db1
      driverUrlOption: socketTimeout=120&connectTimeout=120
    - schema: atrs1
      url: jdbc:postgresql://cn-performance-db2.XXXX.ap-northeast-1.rds.amazonaws.com:5432/atrs?socketTimeout=120&connectTimeout=120
    - schema: atrs2
      url: jdbc:postgresql://cn-performance-db3.XXXX.ap-northeast-1.rds.amazonaws.com:5432/atrs?socketTimeout=120&connectTimeout=120

# upload directories
upload:
  bucketName: atrs.upload.private.performance
  temporaryDirectory: tmp/
  saveDirectory: save/

# SQS queue name
reservation:
  notification:
    # 環境毎にキューを切り替える。
    queue: cn-performance-queue

# static contents(CloudFrontを利用)
content:
  url: https://ddcskatozjj1n.cloudfront.net

# Logging
logging:
  path: /var/log/atrslogs
  # Workaround for duplicated log files
  config: classpath:atrs-logback-spring.xml
  level:
    root: warn

# RedisMessageListenerContainerのconcurrencyLimit設定
spring:
  redis:
    listener:
      concurrencyLimit: 2

# Redis(Session用/Cache用)
redis:
  session:
    cluster:
      node1: cn-int-redis-cls.XXXX.clustercfg.apne1.cache.amazonaws.com:6379
    maxTotal: 137
    maxIdle: 137
    maxWaitMillis: -1
    minIdle: 137
  cache:
    cluster:
      node1: cn-int-redis-cls.XXXX.clustercfg.apne1.cache.amazonaws.com:6379 # please change redis endpoint for cache
    maxTotal: 137
    maxIdle: 137
    maxWaitMillis: -1
    minIdle: 137